body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

#nav {
    height: 10vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1vw;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.109); /* very light */
  }
  
#nav .logo img {
    height: 8vw;
    padding-left: 2vw;
    
    margin-top: 4vw;
  }
  
  #left h4::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px; /* text ke thoda neeche */
    width: 0%;
    height: 2px;
    background-color: black;
    transition: width 0.3s ease;
  }
  
  #left h4:hover::after {
    width: 100%;
  }
  
  
  
  
  #left {
    font-family: "helvetica";
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap:5rem
     
  }
  #nav #left h4 {
    font-weight: 300;
    font-size: 1.2vw;
    font-family: "helvetica";
    position: relative;
    cursor: pointer;
  }

header {
    /* background: #ff6600; */
    color: white;
    padding: 15px;
    text-align: center;
}
.product {
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin: 20px auto;
    width: 250px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.065);
}


.product img {
    width: 100%;
    border-radius: 8px;
}

button {
    background: #28a745;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: #218838;
}